<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1048389015994-0ako825qqhfujiq6oeqnuq34b6i0gvv2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1048389015994-0ako825qqhfujiq6oeqnuq34b6i0gvv2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1048389015994-hegc0fp8hi1pqrktacrtaecaulh61tl6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAJLyP_9fTECbGwI-866_i4bMo-I-PmqK4</string>
	<key>GCM_SENDER_ID</key>
	<string>1048389015994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.darbodaRider</string>
	<key>PROJECT_ID</key>
	<string>darboda-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>darboda-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1048389015994:ios:87f8391c236bc86d18a583</string>
</dict>
</plist>